.bg-body-tertiary{
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.426);
}

.right-nav{
    display: flex;
    width: 40%;
    justify-content: space-around;
}